*{
  margin: 0;
}

.pixel{
  height: 25px;
  width: 25px;
  border: 1px solid black;
  display: inline-block;
}

.unfilled{
  background-color: whitesmoke;
}

.filled{
  background-color: black;
}

.row{
  margin:0px auto;
  display: flex;
  justify-content: center;
}