.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.step{
  width: 100%;
  height: 100px;
  margin-bottom: 5px;
  background-color: lightgreen;
  border: 2px solid rgb(68, 47, 15);
  font-size: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.step > p{
  width: 50%;
}

.step > span{
  font-size: 50px;
}